@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 434px;
  width: 100%;
  float: right;
  margin-right: 30px;
}

.apps {
  overflow-y: auto;
}

.intern-form-label {
  font-size: 12px;
  color: gray;
  margin-top: 20px;
}

.intern-form-input {
  width: 100%;
  outline: none;
  padding: 5px 5px 5px 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  color: black;
}

.two-labels-container > label {
  width: 50%;
}

.modal-form-container {
  box-shadow: 3px 5px 10px rgb(0 0 0 / 5%),
    -3px -1px 10px rgb(0 0 0 / 5%);
}

.intern-tags-container {
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}